<apollo-crm-ui-main-layout appName="Apollo CRM">
  <div>
  <!-- <a
    mat-raised-button
    routerLink="subcontractor-feature-dashboard"
    routerLinkActive="active"
    >Dashboard</a
  >
  <a
    mat-raised-button
    routerLink="subcontractor-feature-contracts"
    routerLinkActive="active"
    >Subcontracts</a
  >
   <a
    mat-raised-button
    routerLink="companies"
    routerLinkActive="active"
    >Companies</a
  >
  <a mat-raised-button routerLink="TODO" routerLinkActive="active" disabled
    >Settings</a
  > -->

  </div>

  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a mat-tab-link *ngFor="let link of links"
      (click)="navigate(link.routerLink)"
      [active]="activeLink === link.routerLink" style="padding-left:6px; padding-right:6px; margin-right:0">{{link.linkName}} </a>


  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
  <!-- <div nav class="main-nav">
     <a
    mat-button
    routerLink="crm-feature-dashboard"
    routerLinkActive="active"
    >Dashboard</a
  >

   <a
    mat-button
    routerLink="crm-feature-campaigns"
    routerLinkActive="active"
    >Campaigns</a
  >
   <a
    mat-button
    routerLink="subcontractor-feature-project"
    routerLinkActive="active"
    >Subscribers</a
  >
   <a
    mat-button
    routerLink="subcontractor-feature-contracts"
    routerLinkActive="active"
    >Lists</a
  >

   <a
    mat-button
    routerLink="subcontractor-feature-contracts"
    routerLinkActive="active"
    >Campaigns</a
  > -->
   <!-- <nav mat-tab-nav-bar  [tabPanel]="tabPanel">
  <a mat-tab-link style="height:24px" *ngFor="let link of links"
     (click)="activeLink = link"
     [active]="activeLink === link"> {{link}} </a>
  <a mat-tab-link disabled>Settings</a>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel> -->
  <!-- </div> -->
</apollo-crm-ui-main-layout>
